# Python 3.9.25
aiohappyeyeballs==2.6.1
aiohttp==3.13.5
aiosignal==1.4.0
ansicolors==1.1.8
anyio==4.12.1
appdirs==1.4.4
asttokens==3.0.1
async-timeout==5.0.1
attrs==26.1.0
Brlapi==0.8.2
certifi==2026.7.22
cffi==1.14.5
chardet==4.0.0
charset-normalizer==3.4.9
click==8.1.8
cockpit @ file:///builddir/build/BUILD/cockpit-356.2/tmp/wheel/cockpit-356.2-py3-none-any.whl
comm==0.2.3
configobj==5.0.6
contourpy==1.3.0
cycler==0.12.1
dasbus==1.7
dbus-python==1.2.18
debugpy==1.8.21
decorator==5.3.1
dill==0.4.0
distlib==0.3.2
distro==1.5.0
entrypoints==0.4
exceptiongroup==1.3.1
executing==2.2.1
fastjsonschema==2.21.2
file-magic==0.4.0
filelock==3.7.1
fonttools==4.60.2
frozenlist==1.8.0
fsspec==2025.10.0
gpg==1.15.1
graphviz==0.21
h11==0.16.0
hf-xet==1.5.1
httpcore==1.0.9
huggingface_hub==0.36.2
idna==2.10
importlib_metadata==8.7.1
importlib_resources==6.5.2
ipykernel==6.31.0
ipython==8.18.1
jedi==0.19.2
Jinja2==3.1.6
jsonschema==4.25.1
jsonschema-specifications==2025.9.1
jupyter_client==8.6.3
jupyter_core==5.8.1
kiwisolver==1.4.7
libcomps==0.1.18
lorax===devel
lxml==4.6.5
Mako==1.1.4.dev0
Markdown==3.3.4
MarkupSafe==3.0.3
matplotlib==3.9.4
matplotlib-inline==0.2.2
mpmath==1.3.0
multidict==6.7.1
nbclient==0.10.2
nbformat==5.10.4
nest-asyncio==1.6.0
networkx==3.2.1
nftables==0.1
numpy==1.23.5
nvidia-cublas-cu12==12.8.4.1
nvidia-cuda-cupti-cu12==12.8.90
nvidia-cuda-nvrtc-cu12==12.8.93
nvidia-cuda-runtime-cu12==12.8.90
nvidia-cudnn-cu12==9.10.2.21
nvidia-cufft-cu12==11.3.3.83
nvidia-cufile-cu12==1.13.1.3
nvidia-curand-cu12==10.3.9.90
nvidia-cusolver-cu12==11.7.3.90
nvidia-cusparse-cu12==12.5.8.93
nvidia-cusparselt-cu12==0.7.1
nvidia-nccl-cu12==2.27.3
nvidia-nvjitlink-cu12==12.8.93
nvidia-nvtx-cu12==12.8.90
olefile==0.46
packaging==26.2
papermill==2.6.0
parso==0.8.7
perf==0.1
pexpect==4.8.0
Pillow==10.0.1
platformdirs==2.5.4
ply==3.11
prompt_toolkit==3.0.52
propcache==0.4.1
psutil==5.8.0
ptyprocess==0.6.0
pure_eval==0.2.3
pyarrow==21.0.0
pycairo==1.20.1
pycdlib==1.11.0
pycparser==2.20
Pygments==2.20.0
PyGObject==3.40.1
pyinotify==0.9.6
pykickstart==3.32.15
pyparsing==2.4.7
PySocks==1.7.1
python-dateutil==2.9.0.post0
python-linux-procfs==0.7.4
python-pam==2.0.2
pytz==2021.1
pyudev==0.22.0
PyYAML==5.4.1
pyzmq==27.1.0
referencing==0.36.2
regex==2026.1.15
requests==2.32.5
rpds-py==0.27.1
rpm==4.16.1.3
safetensors==0.7.0
scipy==1.9.3
scour==0.38.1
selinux==3.6
sepolicy==3.6
setools==4.4.4
setproctitle==1.2.3
setroubleshoot @ file:///builddir/build/BUILD/setroubleshoot-3.3.35/src
six==1.15.0
sos==4.11.2
stack-data==0.6.3
sympy==1.14.0
systemd-python==234
tenacity==9.1.2
terminator==2.1.5
tinycss2==1.3.0
tokenizers==0.22.2
torch==2.8.0
torchinfo==1.8.0
torchvision==0.23.0
torchviz==0.0.3
tornado==6.5.7
tqdm==4.68.4
traitlets==5.15.1
transformers==4.57.6
triton==3.4.0
typing_extensions==4.16.0
tzdata==2026.3
urllib3==1.26.5
vboxapi==1.0
virtualenv==20.21.1
wcwidth==0.8.2
webencodings==0.5.1
xlrd==2.0.1
xxhash==3.8.1
yarl==1.22.0
youtube-dl==2025.4.7
zipp==3.23.1
